body {
    background-color: #000000;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    align-items:center; 
    text-align:center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    max-width: 800px;
    padding: 10px;
    border: 1px solid #ffffff;
    /* dark gray background color with white text */
    background-color: #222222;
    color: #ffffff;
}

#veryLegitConfirmations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer {
    /* put footer at the bottom of the page */
    position: fixed;
    bottom: 0;
}

#disclaimer {
    /* tiny text with hard to read color (gray-ish) (we don't want it to be too obvious) */
    font-size: 0.5em;
    color: #808080;
}